{{#ifBigger collections.length 0}}
  {{#each collections}}
    {{#each .}}
      <ul data-role='listview' id="notification-list-{{collection_id}}"
        data-inset="true" data-divider-theme="b" data-theme="d">
        <li data-role="list-divider">{{@key}} ( {{totalSites}} )</li>
        {{#each sites}}
          <div data-role="collapsible-set" data-theme="a" data-inset="true">
            <div data-role="collapsible"
                 data-collapsed="true" data-site-id={{site_id}}>
                <h3 id={{site_id}}>
                  {{site_name}} {{t 'notification.seems_to_have_unusual'}}
                  {{#ifBigger conditions.length 0}}
                    {{#each conditions}}
                     {{field_name}},
                    {{/each}} {{t 'notification.please_review'}}
                  {{else}}
                    ...
                  {{/ifBigger}}
                </h3>
                {{message_notification}}
            </div>
          </div>
        {{/each}}

        {{#if hasMoreSites}}
        <li class="load-more" data-collection-id='{{collection_id}}'>
         {{t 'global.load_more'}} ...
        </li>
        {{/if}}
      </ul>
    {{/each}}
  {{/each}}

{{else}}
  <p style='text-align: center;'>{{t 'notification.no_sites_found'}}</p>
{{/ifBigger}}
